@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: poppins,actor,adamina;
}

/* --------------------------------------------start navigation section ----------------------------------------- */
#navigation{
    /* padding-bottom: 60; */

}
nav{
    position: absolute;
    padding-top: 20;
    padding-left: 800;
    /* padding: 0;           
    margin: 0; */
}
nav ul li{
    display: inline;
    padding: 23;
    float: left;
    padding: 50;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 19;
}
/* ..............................................end navigation section ------------------------------------ */

/* --------------------------------------------------------header section ------------------------ */
#header{
    margin: 0;
    padding: 0;
    display: flex;

}
.headerText{
    position:absolute;
    color: #FAFF00;
    font-family: adamina;
    padding-top: 220;
    padding-left: 120;
    font-size: 50px;
    width: 600;
    font-weight: 150;
}
.headerText #diffText{
    color: lightgray;
    font-size: 30;
}
.heading img{
    width: 100%;
    height: 95%;
    
}
/* ----------------------------------------------------------end header section end --------------------------------------------------------- */

/* -----------------------------------------------------------start of movers section1 ------------------------------------------------------------ */

#hust{
    display: flex;
    padding-top: 50;
    
}
.dashed{
    width: 250;
    float: left;
    height: 2.5;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(yellow), to(black));
}
.hastling img{
    height:600;
    padding-left: 120;
}

.hustleText{
    padding-top: 110;
    padding-left: 120;
    width: 540;
    font-size: 20;
}
.hustleText #hu{
    font-family: admina;
    font-size: 50;
    font-weight: 100;
}

.hustleText p{
    color: lightslategray;
    font-size: 29;
}
.hustleText #button{
    background-color: black; 
    color: #FAFF00;
    padding: 15;
    width: 200;
    text-decoration: none;
    text-align: center;
}

.hustleText #button a{

    
}





/* -----------------------------------------------------------end of movers section1 --------------------------------------------------------------- */


/* ----------------------------------------------------------------our top movers section with images------------------------------------------------------ */
#movers{
    display: flex;
    padding-top: 90;
    padding-left: 100;
    background-color: whitesmoke;
    margin: 110;

}
.imaging img{
    width: 500;
    padding: 12;
}
.imaging #moverTexts{
    padding-bottom: 150;
    padding-left: 20;
    font-size: 50;
    font-weight: 100;
    font-family: adamina;

}
/* .topMovers{
    display: flex;
    flex-direction: row;

} */



/* --------------------------------------------------------------end of our top movers section with images--------------------------------------------------- */


/* ---------------------------------------------------------------------footer starting ---------------------------------------------------------------- */

#foot{
    padding: 90;
    background-color: black;
}


ul {
    list-style: none;
}
.footText{
    color: white;
    font-size: 50;
}
.row{
    display: flex;
    flex-wrap: wrap;;
    padding-left: 920;
    color: white;
}
.footerCol h4{
    float: right;
    padding-left: 30;
}
.footerCol{
    text-align: center;
}


.socialIcons a{
    height: 180;
    padding: 20;
    color: white;
}

/* ---------------------------------------------------------------------responsivenes---------------------------------------------------------- */

/* @media only screen and (max-width:480px) {
    nav {
        width: 1000px;
        height: 1000px;
        position: absolute;

    }
    nav ul li{
        width: 90;
        display: inline-block;
        padding: 35;
    }
} */
/* @media only screen and (min-width:720){

}
@media (max-width:760px){
    #foot{
        width: 190%;
        /* height: vh; */
    }
    /* .row{
        display: flex;
        width: auto;
        padding-left: -1920;
    }
    .footerCol{
        
        padding-right: -120;
    }
    
}  */



/* -------------------------------------------------------------------------------end of responsivenes-------------------------------------------------------- */



/* -----------------------------------------------------------------------end of footer -------------------------------------------------------------- */





/* --------------------------------------------Start of movers.html design--------------------------------------------------------------- */




/* .movNav ul li #press{
    background-color: yellow;
    color: black;
    text-align: center;
    width: 30;
    padding: 10;
    border-radius: 0 20px 0px 0px;
} */
/* .navDash{
    width: 100%;
    align-items: center;
    height: 0.;
    padding: 0;
} */


/* ---------------------------------------------------------------------------------section property house------------------------------------------------------------------------ */
#about{
    display: flex;
}
.pic img{
    height: 460;
    margin-left: 120;
}

/* -------------------------------------------------------------------------------------------------end section property house----------------------------------------------------------------------------- */









