@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: poppins,actor,adamina;
    /* background-color: red; */
}

/* --------------------------------------------start navigation section ----------------------------------------- */
#navigate{
    display: inline;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url("assets/images/moving\ 1.png");
}
.navb{
    padding-top: 0;
}
.navbar ul{
    display: flex;
    align-items: center;
    /* background-color: black; */
    color: white;
    padding: 15;

}
.navb ul{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15;

}
.navbared ul{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15;
}

.navbared li{
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;

}
.navb li{
    margin-bottom: 10px;
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;

}
.navbar li{
    list-style-type: none;
    padding: 1rem;
    padding-top: 50;

}

.navbar a{
    color: white;
    text-decoration: none  ;
}
.navb a{
    color: white;
    text-decoration: none  ;
}
.navbared a{
    color: white;
    text-decoration: none  ;
}
.nav-logo{
    content: '';
    flex: 0.95;
}
.navLog{
    content: '';
    flex: 0.8;
}
.navLogo{
    content: '';
    flex: 0.95;
}
.nav-toggle{
    display: none;
}
.navToggle{
    display: none;
}


 @media (max-width:600px){
     .navbar ul{
         flex-wrap: wrap;
     }
     .navbared ul{
        flex-wrap: wrap;
    }
     .nav-toggle{
         display: block;
     }
     .navToggle{
        display: block;
    }
     .navLinks{
         display: none;
         width: 100%;
         text-align: center ;
     }
     .nav-Links{
        display: none;
        width: 100%;
        text-align: center ;
    }
     .active{
         display: block;
     }
 }
#house{
    display: flex;
    padding-top: 150;
    background-color: black;
    display: inline-block;
    width: 100%;
}
.modern{
    color: white;
    width: 50%;
    padding-left: 120;
}
.price{
    width: 50%;
    color: white;
    float: right;
    
}


/* ..............................................end navigation section ------------------------------------ */

/* ------------------contact card----------------- */
#abSide{
    width: 100%;
    display: inline;
}
.side1{
    /* background-color: red; */
    width: 50%;
    padding-left: 120;
    padding-top: 120;
}
.largeImg img{
    width: 100%;
    height: ;
}
.smallImages{
    display: flex;
}
.smallImages img{
    padding-top: 12;
    width: 100%;
}

.side2{
    width: 40%;
    background-color: red;
    display: flex;

}
.contactBox{
}

.kayley{
    /* width: 50%; */
    float: right;
    padding-top: 120;
    display: flex;
    align-items: center;
    margin-bottom: 140;
    

}

/* 
.contactBox{
    padding-bottom: 120;
    width: 300px;
    height: 540;
    padding-left: 15;
    display: grid;

    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: snow;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 gray;
}

.input-field{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 10px;

}
.field{
    width: 90%;
    margin-top: 20px;
    border: 1px solid #777;
    border-radius: 10px;
    outline: none;
    margin-bottom: 40;

}
.press{
    width: 90%;
    padding: 15;
    background-color: black;
    color: white;
    border-radius: 0px 20px 0 0;
} */

/* -------------------------end contact card------------------- */
/* --------------------------------------------------------header section ------------------------ */
#header{
    margin: 0;
    padding: 0;
    display: flex;

}
.headerText{
    position:absolute;
    color: #FAFF00;
    font-family: adamina;
    padding-top: 220;
    padding-left: 120;
    font-size: 50px;
    width: 600;
    font-weight: 150;
}

.headerText #diffText{
    color: darkgray;
    font-family: poppins;
}
/* ----------------------------------------------------------end header section end --------------------------------------------------------- */

/* -----------------------------------------------------------start of movers section1 ------------------------------------------------------------ */

#carded{
    width: 1000;
    margin-bottom: 120;
    padding-top: 120;
    display: inline-block;
    padding-left: 410;
    padding-right: 410;
    /* background-color: #FAFF00; */

}


#carded .dashing{
    margin-top: 12;
    margin-left: 3;
    width: 150;
    float: left;
    height: 2.5;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(yellow), to(black));
    
}
#carded .cardedText{
    font-family: adamina;
    margin-left: 20;
    font-weight: 300;
    font-size: 54px;
}
.cont h3{
    font-family: adamina;
}
.wrap{
    /* display: inline; */
    width: 1000px;
    
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 300px;
    background-color: #fff;
    float: left;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
}

.cont .icons a i{
    padding: 3;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.cont h3{
    font-size: 20;
    padding-left: 30;
}


#hust{
    display: flex;
    padding-top: 50;
    
}
.dashed{
    width: 250;
    float: left;
    height: 2.5;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(yellow), to(black));
}
.hastling img{
    height:600;
    padding-left: 120;
}

.hustleText{
    padding-top: 110;
    padding-left: 120;
    width: 540;
    font-size: 20;
}
.hustleText #hu{
    font-family: admina;
    font-size: 50;
    font-weight: 100;
}

.hustleText p{
    color: lightslategray;
    font-size: 29;
}
.hustleText #button{
    background-color: black; 
    color: #FAFF00;
    padding: 15;
    width: 200;
    text-decoration: none;
    text-align: center;
}

.hustleText #button a{

    
}





/* -----------------------------------------------------------end of movers section1 --------------------------------------------------------------- */

/* -------------------------------------------------------------details section in movers.html--------------------------------------------------------- */
.wrapDetails{
    /* display: inline; */
    width: 50%;
    
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
.content{
    display: inline-block;
    padding: 12;
    justify-content: space-between;

}
.content a i{
    color: red;
    /* padding: 12; */
    /* padding-left: 14; */
    /* width: 140;
    float: left;
    align-items: center */
    /* justify-content: space-between */
}





/* --------------------------------------------------------end of details-------------------------------------------------- */

/* --------------------------------------------------------------------start of movers setion master----------------------------------- */




#master{
    display: inline-block;
    /* background-color: #FAFF00; */
    padding-left: 120;
    font-family: actor;
}
.card-col h2{
    padding-left: 20;
    font-size: 25;
}
.contentLink-col{
    padding: 23;  
}
.content-col p{
    width: 100%;
    height: 90;
    color: darkgray;
}
.cardWrap-col h2{
    padding-left: 20;
    font-size: 25;

}
.content-col li a{
    text-decoration: none;
    padding-left: 5;
}
.content-col li{
    list-style: none;
    padding: 15;
    margin: 16;
}
.wrapper-col{
    /* display: inline; */
    /* width: 50%; */
    padding-top: 200px;
    /* padding-right: 750; */
    
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
.cardWrap-col{
    box-shadow: 0 4px 8px 0 rgba(148, 147, 147, 0.6);
    width: 700px;
    height: 400px;
    background-color: snow;
    float: left;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
}
.wrap-col{
    /* display: inline; */
    /* padding-left: 100; */
    
    justify-content: space-between;
    margin: auto;
    margin-top: 90px;
}
.card-col{
    box-shadow: 0 4px 8px 0 rgba(148, 147, 147, 0.6);
    width: 700px;
    height: 150px;
    background-color: #fff;
    float: left;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
}
.content-col{
    display: inline-block;
    padding: 12;
    justify-content: space-between;

}
.content-col a i{
    color: red;
    padding: 12;
    padding-left: 14;
    width: 140;
    float: left;
    align-items: center
    /* justify-content: space-between */
}


.wrapping-col{
    /* display: inline; */
    /* width: 50%; */
    
    justify-content: space-between;
    margin: auto;

    margin-top: 100px;
}
.cardWrapper-col{
    box-shadow: 0 4px 8px 0 rgba(148, 147, 147, 0.6);
    width: 700px;
    height: 450px;
    background-color: white;

    float: left;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
}
.content-col{
    display: inline-block;
    padding: 12;
    justify-content: space-between;

}
.content-col a{
    color: black;
}
.content-col a i{
    color: red;
    padding: 12;
    padding-left: 14;
    width: 140;
    float: left;
    align-items: center
    /* justify-content: space-between */
}

.icons-col{
    padding: ;
}

/* ............................................end.................................  */

/* ----------------------------------------------------------------our top movers section with images------------------------------------------------------ */
#movers{
    display: inline;
    padding-top: 90;
    padding-left: 100;
    background-color: whitesmoke;
    margin: 110;
    

}
.imaging img{
    width: 500;
    padding: 12;
}
.imaging #moverTexts{
    padding-bottom: 150;
    padding-left: 20;
    font-size: 50;
    font-weight: 100;
    font-family: adamina;

}
/* .topMovers{
    display: flex;
    flex-direction: row;

} */



/* --------------------------------------------------------------end of our top movers section with images--------------------------------------------------- */

/* -------------------------------------------------------------------------movers card section-------------------------------------------- */

#cardedM{
    /* width: 1000; */
    /* display: flex; */
    margin-bottom: 120;
    padding-left: 120;
    padding-top: 120;
    display: inline-block;
    /* padding-left: 410;
    padding-right: 410; */
    /* background-color: #FAFF00; */

}


#cardedM .dashingCol{
    margin-top: 12;
    margin-left: 3;
    width: 150;
    float: left;
    height: 2.5;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(yellow), to(black));
    
}
#cardedM .cardedText{
    margin-left: 20;
    font-size: 54px;
}
.wrapCol{
    /* display: flex; */
    flex-direction: row;
    width: 1700px;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}
.cardCol{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    width: 300;
    
    background-color: #fff;
    float: left;
    margin: 10px;
    border-radius: 15px;
    background-size: cover;
}


.cont .icons a i{
    padding: 36;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.cont h3{
    font-size: 20;
    padding-left: 30;
}

/* -------------------------------------------------------------end of movers card section----------------------------------------------------- */


/* ---------------------------------------------------------------------footer starting ---------------------------------------------------------------- */

#foot{
    padding: 90;
    background-color: black;
}


/* ul {
    list-style: none;
} */
.footText{
    color: white;
    font-size: 50;
}
.row{
    display: flex;
    flex-wrap: wrap;;
    padding-left: 920;
    color: white;
}
.footerCol ul li a{
    text-decoration: none;
}
.footerCol ul li{
    list-style: none;
}
.footerCol h4{
    float: right;
    padding-left: 30;
}
.footerCol{
    text-align: center;
}


.socialIcons a{
    height: 180;
    padding: 10;
    color: white;
}

/* ---------------------------------------------------------------------responsivenes---------------------------------------------------------- */

/* @media only screen and (max-width:480px) {
    nav {
        width: 1000px;
        height: 1000px;
        position: absolute;

    }
    nav ul li{
        width: 90;
        display: inline-block;
        padding: 35;
    }
} */
/* @media only screen and (min-width:720){

}
@media (max-width:760px){
    #foot{
        width: 190%;
        /* height: vh; */
    }
    /* .row{
        display: flex;
        width: auto;
        padding-left: -1920;
    }
    .footerCol{
        
        padding-right: -120;
    }
    
}  */



/* -------------------------------------------------------------------------------end of responsivenes-------------------------------------------------------- */



/* -----------------------------------------------------------------------end of footer -------------------------------------------------------------- */





/* --------------------------------------------Start of movers.html design--------------------------------------------------------------- */

/* .nav{
    padding: 1200;
} */

#mov ul li a{
    padding: 20;
    margin-left: 505;
    color: white;
    
    
}


#movNave nav{    
    background-color: black;
    width: 100%;
    padding: 20;
    color: white;
}

.house{
    color: yellow;
    padding-left: 12;
    padding-top: 190;
}
.dashing{
    margin-top:40 ;
    width: 100%;
}
/* .movNav ul li #press{
    background-color: yellow;
    color: black;
    text-align: center;
    width: 30;
    padding: 10;
    border-radius: 0 20px 0px 0px;
} */
/* .navDash{
    width: 100%;
    align-items: center;
    height: 0.;
    padding: 0;
} */


/* ---------------------------------------------------------------------------------section property house------------------------------------------------------------------------ */


/* -------------------------------------------------------------------------------------------------end section property house----------------------------------------------------------------------------- */


























/* .card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background-color: snow;
    text-align: center;
    padding-top: 200;
    padding-left: 128;
}

.imgMovers{
    grid-area: image;
    background: url("../assets/images/ehem\ 1.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 12px;
    background-size: cover;
}
.imgText{
    grid-area: text;

}
.imgStats{
    grid-area: stats;
}



.det{
    margin-top: 12;
    padding-left: 120;
} */
