@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body{
    padding: 0;
    margin: 0;
    font-family: poppins;
}

/* --------------------------------------------start navigation section ----------------------------------------- */
#navigation{
    /* padding-bottom: 60; */

}
nav{
    position: absolute;
    padding-top: 20;
    padding-left: 800;
    /* padding: 0;
    margin: 0; */
}
nav ul li{
    display: inline;
    padding: 23;
    float: left;
    padding: 50;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 19;
}
/* ..............................................end navigation section ------------------------------------ */

/* --------------------------------------------------------header section ------------------------ */
#header{
    margin: 0;
    padding: 0;
    display: flex;

}
.headerText{
    position:absolute;
    color: yellow;
    padding-top: 220;
    padding-left: 120;
    font-size: 50px;
    width: 600;
    font-weight: 600;
}
.heading img{
    width: 100%;
    
}
/* ----------------------------------------------------------end header section end --------------------------------------------------------- */









/* --------------------------------------------Start of movers.html design--------------------------------------------------------------- */


